body{
    margin: 0;
    font-family: 'Arial';
}

nav{
    color: white;
    background-image: linear-gradient(white, green, lime, white);
    text-align: center;
}

ul li h1{
    list-style-type: none;
    color: black;
    display: inline;
}

nav h1{
    display: inline;
}

nav a{
    text-decoration: none;
    color: white;
}

.content{
    background: black;
    color: white;
    height: 900px;
    text-align: center;
}

.about{
    background: black;
    color: white;
    height: 900px;
    text-align: center;
}