*{
    margin: 0;
    font-family: 'Cascadia Code';
    background-color: black;
}

h1, span{
    color: white;
}

nav img{
    border-radius: 10px;
    size: 50px;
}

footer span, #orangeSpan{
    color: orange;
}

a{
    color: orange;
    text-decoration: none;
}

ul li{
    list-style-type: none;
    display: inline;
}

footer{
    transform: translateY(50%);
    background: none;
    color: white;
}

.card{
    height: 300px;
    width: 100px;
    border-radius: 50px;
    background: white;
    border-radius: 10px;
}

.card:nth-child(1){
    transform: translateX(50px);
}

.card:nth-child(2){
    transform: translateX(-50px);
}

.card:nth-child(3){
    transform: translateX(0px);
}

.card:nth-child(4){
    transform: translateX(0px);
}

.card:nth-child(5){
    transform: translateX(0px);
}

.explore-container{
    background-color: white;
    width: 700px;
    height: 500px;
}

.text-container{
    text-align: center;
}